.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  background: #f3e9dc;
  padding-top: 20px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  box-sizing: border-box; 
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 18px;
  margin-bottom: 10px;
}

.sidebar .logo img {
  width: 35px;
  height: 35px;
}

.sidebar .brand {
  font-weight: bold;
  font-size: 1.2em;
  color: #4b3621;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.sidebar nav ul li {
  padding: 12px 18px;
  margin: 2px 8px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  color: #4b3621;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: background 0.3s, color 0.3s;
}

.sidebar nav ul li.active,
.sidebar nav ul li:hover {
  background: #6f4e37;
  color: #fff;
}

.sidebar .close-btn {
  display: none;
  text-align: right;
  padding: 10px 18px;
  font-size: 1.2em;
  cursor: pointer;
  color: #552915;
}

.sidebar .close-btn:hover {
  color: #fff;
}

.profile-card {
  margin-top: auto;
  padding: 15px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top: 1px solid #ddd;
  transition: background 0.3s, color 0.3s;
}

.profile-card:hover {
  background: #6f4e37;
  color: #fff;
  cursor: pointer;
}

.profile-card:hover .profile-avatar i {
  color: #fff;
}

.profile-card:hover .profile-info .edit-text {
  color: #ddd;
}

.profile-avatar i {
  font-size: 2em;
  color: #552915;
}

.profile-info .profile-name {
  font-weight: bold;
}

.profile-info .edit-text {
  font-size: 0.8em;
  color: #777;
}

.logout {
  padding: 14px 18px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  border-top: 1px solid #ddd;
  cursor: pointer;
  color: #552915;
  transition: background 0.3s, color 0.3s;
}

.logout:hover {
  background: #6f4e37;
  color: #fff;
}

.hamburger {
  position: fixed;
  top: 15px; 
  left: 15px;
  font-size: 2em;
  color: #552915;
  cursor: pointer;
  z-index: 2003; 
  display: none;
}

.top-bar {
  display: none; 
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2002;
  border-bottom: 2px solid #704225;
  background-color: #fff8f0;
  box-sizing: border-box;
}


.top-bar .hamburger {
  position: absolute; 
  left: 15px;
  font-size: 1.8em;
  color: #552915;
  cursor: pointer;
  top: auto;
}

.top-bar .mobile-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}
.top-bar .mobile-logo img {
  width: 40px;
  height: 40px;
}


@media (max-width: 1024px) {
  .hamburger {
    display: block;
  }

  .sidebar {
    transform: translateX(-240px);
    padding-top: 20px; 
  }

  .sidebar.active {
    transform: translateX(0);
  }

  .top-bar { 
    display: flex; 
  }
}
